@font-face {
  font-family: 'Mona Sans';
  src:
    url('../../Mona-Sans.woff2') format('woff2 supports variations'),
    url('../../Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans' !important;
  font-feature-settings: "ss01" on, "ss03" on, "ss05" on !important; /* Turns on square diacritical marks, small letter L distinct from capital I, and alternative small letter g */
}

:root {
  --slidev-theme-primary: #f0f0f0;
}

#slide-content {
  @apply bg-slate-950;
}

.slidev-page {
  overflow: scroll;
}
